
.emacs.d/ac-comphist.dat
.emacs.d/elpa/
.emacs.d/recentf
.emacs.d/.recentf
.emacs.d/.harvest/
.emacs.d/.sx/
.emacs.d/.smex-items
.emacs.d/cider-history
.emacs.d/url/
.emacs.d/emms/
.emacs.d/ido.last
.emacs.d/places
.emacs.d/projectile-bookmarks.eld
.emacs.d/bookmarks
.emacs.d/eshell/lastdir
.emacs.d/eshell/history
.emacs.d/games/
.emacs.d/config.el

.vim/plugged
